<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search for an artist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
    <br />
    <div class="container">
        <h1 class="text-center">
            Search for an artist
        </h1>
    </div>
    <br />
    <div class="container">
        <form class="input-group" method="GET" action="/search/results">
            <input type="text" class="form-control" name="artistName" placeholder="Artist name...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
            </span>
        </form><!-- /input-group -->
    </div>

</body>
</html>